- modal_title('Контрагенты')

- modal_search_form_action(select_clients_dialog_references_clients_path)

- modal_create_new_link(new_references_client_path)

- page_title 'Новый заказ наряд'

.col-md-6
  = render 'form'
