.box.height800 {
  height: 800px;
  overflow-y: auto;
}
.box.live-box {
  table tr td{
    padding: 2px;
  }
  nav.navbar.navbar-default {
    position: fixed;
    width: 86%;
    z-index: 1001;
  }
  .infinite-table {
    margin-top: 42px;
  }
}
