.box.height800 {
  height: 800px;
  //overflow-y: auto;
}
.box.live-box {
  table tr td{
    padding: 2px;
  }
  nav.navbar.navbar-default {
    position: fixed;
    width: 86%;
    z-index: 1001;
  }
  .infinite-table {
    margin-top: 42px;
  }
}

.table-container{
  height:800px;
  overflow-y:scroll;
}

.references-navbar {
  margin-bottom: 0px;
}

.loading-indicator {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.7em; }

.loading-indicator:before {
    display: inline-block;
    margin: 0 0.4em;
    min-width: 1em;
    min-height: 1em;
    border-top: 4px solid #646464;
    border-right: 4px solid #e6e6e6;
    border-left: 4px solid #e6e6e6;
    border-bottom: 4px solid #646464;
    content: "";
    -webkit-animation: halfspin 1s ease infinite;
    -moz-animation: halfspin 1s ease infinite;
    -o-animation: halfspin 1s ease infinite;
    animation: halfspin 1s ease infinite;
    border-radius: 100%; }
